In [1]:
import pandas as pd
from feast import FeatureStore

In [2]:
store = FeatureStore(repo_path="../feature_repo")

In [3]:
trip_ids = list(range(0,100000))
timestamps = ["2023-09-18"] * len(trip_ids)

entity_df = pd.DataFrame({
    "trip_id": trip_ids,
    "event_timestamp": timestamps
})

entity_df['event_timestamp'] = pd.to_datetime(entity_df['event_timestamp'])

In [4]:
df = store.get_historical_features(
    entity_df=entity_df,
    features=[
        "trip_features_X:trip_miles",
        "trip_features_X:trip_time",
        "trip_features_X:request_datetime_hour",
        "trip_features_X:request_datetime_day",
        "trip_features_X:duration_minutes",
        "trip_features_X:wait_time_minutes",
        "trip_features_X:service_time_minutes",
        "trip_features_X:on_scene_datetime_hour",
        "trip_features_X:on_scene_datetime_day",
        "trip_features_X:pickup_datetime_hour",
        "trip_features_X:pickup_datetime_day",
        "trip_features_X:dropoff_datetime_hour",
        "trip_features_X:dropoff_datetime_day",
        "trip_features_X:average_speed",
        "trip_features_y:driver_pay",
    ]
).to_df()

In [5]:
df.dropna(inplace=True)   
df

,trip_id,event_timestamp,trip_miles,trip_time,request_datetime_hour,request_datetime_day,duration_minutes,wait_time_minutes,service_time_minutes,on_scene_datetime_hour,on_scene_datetime_day,pickup_datetime_hour,pickup_datetime_day,dropoff_datetime_hour,dropoff_datetime_day,average_speed,driver_pay
0,0,2023-09-18 00:00:00+00:00,2.71,796.0,11,Friday,13.266667,1.383333,16.366667,11,Friday,11,Friday,11,Friday,0.204271,19.16
1,1,2023-09-18 00:00:00+00:00,1.26,398.0,1,Saturday,6.633333,0.733333,8.633333,1,Saturday,1,Saturday,1,Saturday,0.189950,6.25
2,2,2023-09-18 00:00:00+00:00,2.73,1055.0,11,Saturday,17.583333,1.250000,18.983333,11,Saturday,11,Saturday,12,Saturday,0.155261,12.49
3,3,2023-09-18 00:00:00+00:00,2.06,446.0,20,Friday,7.433333,1.450000,8.466667,20,Friday,20,Friday,20,Friday,0.277130,6.65
4,4,2023-09-18 00:00:00+00:00,1.41,550.0,6,Wednesday,9.166667,7.266667,9.433333,6,Wednesday,6,Wednesday,6,Wednesday,0.153818,6.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2023-09-18 00:00:00+00:00,1.38,846.0,19,Sunday,14.100000,6.333333,14.333333,19,Sunday,19,Sunday,20,Sunday,0.097872,9.45
99996,99996,2023-09-18 00:00:00+00:00,2.29,1169.0,14,Wednesday,19.483333,0.300000,21.483333,14,Wednesday,14,Wednesday,14,Wednesday,0.117536,15.30
99997,99997,2023-09-18 00:00:00+00:00,5.23,1731.0,19,Friday,28.850000,5.733333,30.383333,19,Friday,19,Friday,20,Friday,0.181282,36.17
99998,99998,2023-09-18 00:00:00+00:00,2.04,1069.0,14,Wednesday,17.816667,0.216667,19.816667,14,Wednesday,14,Wednesday,14,Wednesday,0.114500,11.81
99999,99999,2023-09-18 00:00:00+00:00,1.11,368.0,2,Saturday,6.133333,2.183333,7.833333,2,Saturday,2,Saturday,3,Saturday,0.180978,7.28

---------

## Feast Materialize

In [6]:
from feast import FeatureStore
from datetime import datetime, timedelta

In [8]:
store = FeatureStore(repo_path="../feature_repo")

In [9]:
store.materialize(start_date=datetime.utcnow() - timedelta(hours=3),
                   end_date=datetime.utcnow())

Materializing 2 feature views from 2023-09-19 11:14:39+00:00 to 2023-09-19 14:14:39+00:00 into the sqlite online store.

trip_features_X:

100%|█████████████████████████████████████████████████████████| 10263/10263 [02:17<00:00, 74.60it/s]

trip_features_y:

100%|███████████████████████████████████████████████████████| 10263/10263 [00:03<00:00, 2979.98it/s]

In [ ]:
# store.materialize_incremental(end_date = datetime.now())